<!doctype html>

<head>
    <title>Music Helpers</title>
    <style>
        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

    </style>
</head>
<body>
    <h1>Music Helpers</h1>
    <p>This website provides tools for music:</p>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('guitar_positions') }}">Guitar Positions</a></li>
        <li><a href="{{ url_for('guitar_chord_progression') }}">Guitar Chord Progression</a></li>
      <li><a href="{{ url_for('voice_leading') }}">Voice Leading</a></li>
    </ul>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</body>
