<!doctype html>

<head>
    <title>Guitar Position Calculator</title>
    <style>
        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

    </style>
</head>
<body>
    <h1>Guitar Position Calculator</h1>
    <p>This app gives guitar fingerings for any chord</p>
    <a href="{{ url_for('input') }}">Input</a>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</body>


